<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>best-of the year</title>
</head>
<body>
<h1> Best of the year by  <span th:text="${subtitle}"></span></h1>
<!-- link che portano a: “/movies”-->
<p><a th:href="@{/movies}">Back to movies</a></p>
<!-- link che portano a:"/songs” “-->
<p><a th:href="@{/songs}">Back to songs</a></p>

</body>
</html>